body {
    background-color: lightgrey;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: monospace, 'cursive';

}

form{
    color: dodgerblue;
    font-size: 22px;
}

input[type=text]{
    background-color: bisque;
}

#addNeed{
    background-color: bisque;
    color: dodgerblue;
}

#addHave{
    background-color: bisque;
    color: dodgerblue;
}

h1{
    color: darkgoldenrod;
    font-size: 50px ;
}

h2{
    color: darkgoldenrod;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
}

.list{
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    border: 1px solid black;

}

.list li{
    list-style: none;
    background-color: bisque;
    border-bottom: 1px dotted #ccc;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    color: darkblue;
}

list a {
    float: right;
    text-decoration: none;
    color: red;
}

body{

}